<ion-view view-title="今日生产计划">
  <ion-content class="has-header plans">
    <ion-refresher ng-if="plans.length >= 0 || loadError" pulling-text="下拉刷新..."
                   on-refresh="doRefresh()" refreshing-icon="ion-loading-c"></ion-refresher>
    <ion-list>
      <ion-item class="item-input stat_item">
        <p class="stat_span row">
          <span class="col col-50">计划数:<span class="planNum" ng-show="statData.planNumb">{{statData.planNumb}} 个</span></span>
          <span class="col col-50">总方量:<span class="planCubes" ng-show="statData.totalCube">{{statData.totalCube | number:1}} 方</span></span>
        </p>
      </ion-item>
      <ion-item class="item-icon-right" collection-repeat="bean in plans"
                collection-item-width="'100%'"
                collection-item-height="90">
        <div><b>{{bean.projectName}}</b> <span class="item-note">{{bean.planDate | amDateFormat:'DD日HH:mm'}}</span>
          <!--<span class="item-note ago" am-time-ago="bean.planDate"></span-->
        </div>
        <p>{{bean.constructUnit}}</p>
        <p>
          <span class="small conStrength">{{bean.conStrength}}</span>
          <span class="small consPos">{{bean.consPos}}</span>
          <span class="small castMode">{{bean.castMode}}</span>
        </p>
        <p class="icon planCube"><span>{{bean.planCube}}</span></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
