<div class="modal">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSettingModal()">关闭</button>
    </div>
    <h1 class="title">服务器地址设置</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label class="item item-input">
        <div class="input-label">
          外网地址
        </div>
        <input type="text" ng-model="settings.wlan" placeholder="ip:port">
      </label>
      <div class="item item-toggle">
        启用内网
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-checked="settings.wifiMode" ng-model="settings.wifiMode">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <label class="item item-input">
        <div class="input-label">
          内网地址
        </div>
        <input type="text" ng-model="settings.wifi" ng-disabled="!settings.wifiMode" placeholder="ip:port">
      </label>


      <input type="hidden" ng-model="settings.isOk">
      <button class="button button-block button-stable" ng-disabled="settings.wlan.length<10||(settings.wifiMode&&settings.wifi.length<10)" ng-click="testConnection()">
        <i class="icon ion-link"></i>&nbsp;测 试 地 址
      </button>

      <button class="button button-block button-balanced" ng-disabled="!settings.isOk" ng-click="saveSettings()">
        <i class="icon ion-archive"></i>&nbsp;保 存 设 置
      </button>
    </div>
  </ion-content>
</div>
