<ion-view view-title="{{user.username}}">
  <!--<ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="logout()">退出</button>
  </ion-nav-buttons>-->
  <ion-content class="has-header user">

    <ion-list>
      <ion-item>
        当前用户：{{user.username}}
      </ion-item>
      <ion-item class="text-center" ng-click="showChangePwdModal()">
        <p><i class="icon ion-key"></i> 修 改 密 码</p>
        <!--<button class="button button-block button-energized">修 改 密 码</button>
        <button ng-click="" class="button button-block button-assertive"></button>-->
      </ion-item>
      <ion-item class="text-center" ng-click="logout()">
        <p> <i class="icon ion-log-out"></i> 退 出 登 录</p>
      </ion-item>
  </ion-content>
</ion-view>
